@import "@primer/css/color-modes/themes/light.scss";
@import "@primer/css/color-modes/themes/dark.scss";

.markdown-body {
  @import "@primer/css/support/index.scss";
  @import "@primer/css/base/index.scss";

  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);

  ol {
    list-style: decimal;
  }
  
  ul {
    list-style: disc;
  }

  iframe {
    background-color: white;
    border: 0;
    margin-bottom: 16px;
  }
}

@import "@primer/css/markdown/index.scss";

.highlight .token.keyword {
  color: var(--color-prettylights-syntax-keyword);
}

.highlight .token.operator,
.token.number,
.token.boolean {
  color: var(--color-prettylights-syntax-constant);
}

.highlight .token.function {
  color: var(--color-prettylights-syntax-entity);
}

.highlight .token.string {
  color: var(--color-prettylights-syntax-string);
}

.highlight .token.comment {
  color: var(--color-prettylights-syntax-comment);
}

.highlight .token.class-name {
  color: var(--color-prettylights-syntax-variable);
}

.highlight .token.regex {
  color: var(--color-prettylights-syntax-string);
}

.highlight .token.regex .regex-delimiter {
  color: var(--color-prettylights-syntax-constant);
}

